github "ReactiveX/RxSwift" "6.0.0-rc.2"
github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration" "2.7.0"
github "Alamofire/Alamofire" ~> 5.2
github "onevcat/Kingfisher"
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "tristanhimmelman/ObjectMapper" ~> 3.5
github "tilltue/TLPhotoPicker"
github "zvonicek/ImageSlideshow" ~> 1.9.0
github "SnapKit/SnapKit" ~> 5.0.0

